[2015-11-04 15:49] MichaelHirn opened #11 "add conv-related layers"
For using convolutional networks, we need some more layer types

* [ ] Convolutional Layer
* [ ] ReLu Layer
* [ ] Pooling Layer
* [ ] Dropout Layer

[2015-11-04 19:00] hobofan opened #12 "Implement all Caffe learning policies"
The most common learning policies (Fixed, Step, Exp) were implemented with edfbbdfb3c262782fe3859c40315250394161957.

We still need:

- [ ]  Multistep (also requires additional SolverConfig param)
- [ ] Inv
- [ ] Poly
- [ ] Sigmoid

[2015-11-05 00:05] MichaelHirn opened #13 "improving documentation for easier engagement"
I came across some inconsistencies in our documentation - especially in its quality. On the one side, we are not documenting the complex parts, which makes it hard to contribute, because one isn't really getting what the code does and on the other side, we are documenting quite obvious things.

A lot of the other Deep/Machine Learning Frameworks aren't really better at documentation, but I think i

[2015-11-05 16:11] MichaelHirn opened #14 "load network with weights from file"
The only way for the moment to create Networks is by specifying a new Network with a [`NetworkConfig`][1], which means the Network gets initialized from scratch.

Resuming to already trained models and keeping the learning state-less with loading from raw weights would open new usage scenarios.

We are looking forward to use [Cap'n Proto][2] for serialization, as it allows for state-of-the-art per

[2015-11-05 16:12] MichaelHirn opened #15 "save network with weights to file"
In order to load a network with weights from file, we also would need to save one to a file.

referencing: #14

[2015-11-05 16:54] MichaelHirn opened #16 "take layer metadata into layer struct"
At the moment the [`Network`][1] stores the layers and metadata about the layers in two different arrays with matching indices. This is Caffe legacy.

We would like to take the metadata about the layer into the layer struct as this cleanes up the structure and makes the scope of layers clearer.

[1]: http://autumnai.github.io/leaf/leaf/network/struct.Network.html

[2015-11-05 17:40] hobofan opened #17 "Clearer names for parameters and hyper-parameters"
We want to have as unambigous naming as possible.
Porting code from Caffe also brought some ambigous naming with it, especially around the word "parameter"/"param" which to make things worse already has a meaning in programming languages.

Where "parameter"/"param" is used to mean the [synaptic weight](https://en.wikipedia.org/wiki/Synaptic_weight), we use **weight**.

Where "parameter/param" is u

[2015-11-06 12:45] MichaelHirn opened #18 "implement important loss layer types"
The following loss layers have a high priority:

* [ ] Euclidean
* [ ] SoftMax

Other loss layers that are interesting for implementation:

* [ ] Hinge
* [ ] Sigmoid Cross Entropy

[2015-11-06 13:01] MichaelHirn opened #19 "implement important activation layer types"
The following activation layers have a high priority:

- [x] Sigmoid
- [x] ReLU

Other activation layers that are interesting for implementation:

 - [x] TanH

[2015-11-06 13:09] MichaelHirn opened #20 "implement important common layer types"
The following layers have a high priority:

- [ ] Convolution
- [ ] Pooling
- [ ] Recurrent
- [ ] Long Short-Term Memory

Other common layers that are interesting for implementation:

- [ ] Dropout

[2015-11-06 13:12] MichaelHirn commented on #11
Refactored those layer implementations into specific issues.
#18
#19
#20

This issue becomes therefore obsolete and can be closed.

[2015-11-06 13:12] #11 closed

[2015-11-06 13:16] MichaelHirn opened #21 "add layer type modules"
Caffe makes a great case for using layers to module Networks. Those layers - which have different functionality and behaviors are grouped into the same namespace. To help development, understanding, code-structure and documentation, we will provide a clear module for those layers.

This is basically a restructuring tasks of files and modules.

[2015-11-06 17:36] MichaelHirn commented on #21
05580fc is addressing this issue. Will be closed as soon as it gets merged into master.

[2015-11-07 21:52] MichaelHirn opened #22 "implement GPU support"
To provide state-of-the-art performance for training and running DNNs and comparing benchmarks for the first time with other Deep Learning Frameworks, we will need GPU support.

A not exhaustive list of actions I am about to take in order to make this happen.

* Digesting more information about GPU programming
* Preparing [Phloem][phloem] for GPU/CPU support with [Arrayfire][arrayfire].
* abstract

[2015-11-09 10:03] hobofan opened #23 "Implement L1 regularization"
[L1 regularization](https://cs231n.github.io/neural-networks-2/#reg) is not a priority since it is not that commonly used and requires more math functions to be implemented.

[2015-11-10 11:45] hobofan opened #25 "Implement SGD solvers"
To achieve feature parity with Caffe we need to implement the following solvers:

- [ ] Adagrad
- [ ] Adadelta
- [ ] Adam
- [ ] Nesterov
- [ ] RMSprop

[2015-11-10 13:30] #13 closed

[2015-11-10 13:30] #21 closed

[2015-11-10 13:50] MichaelHirn opened #26 "publish benchmarks for leaf and other machine learning frameworks"

[2015-11-11 01:09] hobofan opened #29 "explain feedforward/backpropagation"
As part of our network glossary we will want to have a section explaining the basics of feedforward and backpropagation through the network.

[2015-12-02 12:39] MichaelHirn commented on #22
Progress of the backend-agnostic, High Performance Computation part can be tracked at
https://github.com/autumnai/collenchyma

Should not take much longer until we have GPU supported, ready-to-run Machine Intelligence. Cuda will be first. OpenCL and native Host CPU is easy with Collenchyma, though.

[2016-01-10 16:14] cmr opened #38 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-01-10 16:15] killercup commented on #38
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-14 11:24] hobofan opened #39 "Umbrella issue for MIT/Apache-2.0 relicensing"
Recently multiple issues were created suggesting relicensing of multiple projects related to Leaf to a dual MIT/Apache-2.0 license.

@MichaelHirn and I discussed the issue and are both in favor of relicensing the concerned projects, however we don't inted to include license headers for the Apache-2.0 license in every file.

List of the issues for reference, and status of signatures collected:
- [x

[2016-01-14 11:27] hobofan commented on #39
@cmr : It seems https://github.com/autumnai/collenchyma and https://github.com/autumnai/rust-cudnn didn't get a automatic issue. Could you poke your script to do that please? :)

[2016-01-14 11:29] hobofan commented on #38
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-14 12:43] cmr commented on #39
Sure thing!

On January 14, 2016 6:27:47 AM EST, Maximilian Goisser <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-01-14 13:40] MichaelHirn commented on #38
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-24 08:47] mitchmindtree opened #40 "Plans for compilation on Stable Rust?"
Hi!

I'm very interested in the ML field (though quite inexperienced). After having watched leaf from afar for a while, I thought I'd clone the repo and have a play!

The first thing that I noticed was that it currently relies on some unstable features. I'm curious: is there a certain set of heavily required unstable features that you're waiting on the stabilisation of before you plan to move to t

[2016-01-24 08:51] mitchmindtree opened #41 "The `phloem` crate (currently used by `leaf`) seems to be deprecated in favour of collenchyma's `SharedTensor`"
I also noticed that the collenchyma crate version seemed to be a little behind - I figure you must be busy with other work at the moment, but I just thought I'd ask what your plans are for updating. Are you currently waiting on developments upstream? Or has this simply not been updated yet due to lack of time?

[2016-01-24 13:06] MichaelHirn commented on #40
Hi @mitchmindtree :wave:

Thank you so much for reaching out. Leaf 0.2.0 will build and run under Rust stable.

@skade elucidated us some weeks ago on the Berlin Rust meetup, on the advantages of the stable Rust channel. I think all other projects (collenchyma and it's plugins) build already under stable, as we started out to only support nightly Rust for our projects - which in hindsight, wasn't

[2016-01-24 13:07] #40 closed

[2016-01-24 13:12] MichaelHirn opened #42 "Leaf on Rust stable"
As pointed out by @mitchmindtree on #40, Leaf doesn't build under stable, yet. I don't think that any important feature currently prevents us from supporting Rust stable (@hobofan might comment on this in more detail). Supporting Rust stable on Leaf, would increase its accessibility, dramatically.

[2016-01-24 13:20] MichaelHirn commented on #41
Yes, we have currently a ton of different development upstreams, that need to me submitted and merged. We are currently preparing for the 0.2.0 release with a ton of performance improvements, bug fixes, usability improvements, layers, solvers, etc. I will see if we can be more transparent about it and publish the changes into the develop branch, soon. Also a lot of fixes happens in the Collenchyma

[2016-01-24 17:36] hobofan commented on #40
As MJ said 0.2.0 will build on Rust stable, and my latest local version already does (which only required a very small change).

[2016-01-24 17:41] hobofan commented on #41
@mitchmindtree You can see one of the latest states of development (although lacking in polish and documentation) on the `dump-0.2.0` branch. In that Phloem has be replaced by the SharedTensor.

[2016-01-25 03:04] mitchmindtree commented on #41
@MichaelHirn @hobofan thank you both for the info!

@hobofan I noticed that on the "dump-0.2.0" branch you are temporarily using some local deps in the Cargo.toml for development - you might already know this, but just in case I thought I'd mention that you can also override local dependencies for development by listing the local repos you'd like to use in a local `.cargo/config` file ([here are s

[2016-01-25 03:08] mitchmindtree commented on #40
Awesome news :smile_cat:

[2016-01-25 09:17] hobofan commented on #41
@mitchmindtree Notice the `.cargo/config` in the `dump-0.2.0` branch ;)

During development I generally first change the dependency in `Cargo.toml` and only if it's necessary in the `.cargo/config` and then when it is about to be pushed, I do that in reverse. I do this because there is one big difference in using the `.cargo/config`: It forces all crates that have the provided crate as dependency

[2016-01-25 12:06] mitchmindtree commented on #41
@hobofan Ahhh of course! That makes sense, thanks for the explanation :)

[2016-01-28 10:48] VanushVaswani opened #43 "Unable to build with rust 1.6.0"
[code]

[2016-01-28 10:53] hobofan commented on #43
Duplicate of #42 (#40)

[2016-01-28 10:53] #43 closed

[2016-02-02 11:33] hobofan commented on #39
Since (from what I've heard/read), @cmr isn't allowed to continue the initative, we'll have make the relicensing changes by hand.
All contributors have agreed to the relicensing, except for @kschmit90 who hasn't responded. Since his contribution consisted of fixing grammar mistakes, we don't consider it "creative work" (even though the contribution is greatly appreciated) and will relicense Leaf w

[2016-02-19 22:46] johnnyman727 opened #45 "What's the best way to get involved?"
Hi leaf folks,

I'm wondering what's the best way for someone new to the project to get involved and start contributing? Are you looking for new contributors? Are there some low hanging fruits I can try and tackle? For context, I am somewhere between a beginner and intermediate with regards to both Rust and ML.

[2016-02-21 19:40] hobofan opened #48 "Add example of commit message to contribution guidelines"
As @dirvine pointed out (https://github.com/autumnai/leaf/pull/47#issuecomment-186895494) an example of a proper commit message would be helpful in the contribution guidelines, since currently it is only explained in an abstract way.

[2016-02-21 20:01] jonhoo commented on #48
Perhaps also include an [issue template](https://github.com/blog/2111-issue-and-pull-request-templates)?

[2016-02-21 20:23] hobofan commented on #48
I haven't really investigated/used issue/PR templates yet. I am not sure if they really help much.

The main problem we have is people not using the commit message format, adding one feedback roundtrip for PRs. Maybe an PR template that gives a short example of the commit format and points to the CONTRIBUTION.md might help (but by the point of reading it you usually already have written the commit

[2016-02-21 20:42] dirvine commented on #48
I really support the documentation effort in this library. I suspect if high five is up and running then it can also act as a reminder of good commit messages with an example. I think making clear what the modules or files are after the `<style>/` etc. are will help a lot. Many changes will be multi file and maybe the module or target is not so obvious then. A list of the targets may help in that

[2016-02-21 21:07] hobofan commented on #48
As of now what comes after `<style>/` is only roughly defined as scope. The scope mostly helps when [automatically generating a CHANGELOG](https://medium.com/@autumn_eng/guide-to-changelog-md-in-rust-6eb349808fa4#.s1hgothud), as it already provides a rough structure of which changes to group together. In the end the CHANGELOG will always require a bit of manual editing and regrouping so having a m

[2016-02-21 21:21] dirvine commented on #48
:+1 Agree

[2016-02-22 12:05] hobofan commented on #26
Removing them from README for the commit so here are the benchmarks if we need them elsewhere.
[code]

[2016-02-22 13:19] hobofan commented on #42
After merging #49 Leaf now builds on Rust stable and beta and passing Travis tests on all release channels are now required.

[2016-02-22 13:19] #42 closed

[2016-02-22 13:19] #38 closed

[2016-02-22 13:25] hobofan commented on #20
With #49 `Convolution`, `Pooling` and `Linear` (our name for `Inner Product`) have been added.

[2016-02-22 13:27] hobofan commented on #19
With #49 the `ReLU` layer has been added.

[2016-02-22 13:28] hobofan commented on #18
With #49 `SoftMax`, `LogSoftmax` (both not directly loss layers) and a NegativeLogLikelihood layer have been added.

[2016-02-22 13:29] hobofan commented on #16
Has been done in #49.

[2016-02-22 13:29] #16 closed

[2016-02-22 13:30] hobofan commented on #22
Has been done with #49.

[2016-02-22 13:30] #22 closed

[2016-02-22 13:36] hobofan commented on #17
Now that we merged #49 there shouldn't be any traces of it left.

[2016-02-22 13:36] #17 closed

[2016-02-24 12:39] MichaelHirn commented on #48
I added two examples for a complete commit message and how you would create them on the command line when `git commit`ing. In order to close this issue, I would wait if wrong formatted commit messages is still an issue with further PRs, if so we might look into issue templates and other mechanisms for raising awareness about the commit message format.

[2016-02-24 14:14] dirvine commented on #48
Looks good. Also good scope is light, it may make changelogs a bit harder to read, bit I think in the end it is the most effective way forward. I would like to see more projects do this actually. Great to set an example though :+1:

[2016-02-25 20:23] drahnr opened #56 "rust does not compile rblas which is a depency of leaf"
I am all new to rust so I apologize if this is useless:

[code]

I tried this with beta 1.7 and stable 1.6, both yield the very same result

[code]

Is this a known issue?

[2016-02-26 17:51] hobofan commented on #56
Thanks for the report. :+1:  It's a duplicate of #42 / #40 / #43.

The current master branch now builds on Rust stable, but I'll leave this issue open until we have released a new version, so we hopefully have an easy to find issue and won't get any more duplicates.

[2016-02-26 18:19] hobofan commented on #45
Sorry for the long wait, I totally forgot to reply here :sweat: .

Generally for any project I would say the best way to get involved highly depends on what your personal reasons for the involvment of a project are and also what your strengths are (/ or weaknesses you want to work on).

A few things where we'd really appreciate new contributors getting involved:
- Building some examples that are m

[2016-02-26 18:22] hobofan commented on #41
@mitchmindtree I am thinking about closing this issue, since in the current master there shouldn't be any mention of `phloem` anymore.

Any unresolved questions regarding that we can help with?

[2016-02-27 01:33] mitchmindtree commented on #41
@hobofan I'm happy to close this!

(Just thought I'd mention that there are still a couple mentions in the docs ([here](https://github.com/autumnai/leaf/blob/547538ba5b11f02094f7a58adecde0e1a222b27f/src/lib.rs#L30) and [here](https://github.com/autumnai/leaf/blob/38d5f48a5e8a875879661f7a792c9eab25295b65/src/network.rs#L49))).

[2016-02-27 01:33] #41 closed

[2016-02-27 12:11] drahnr commented on #56
Well I tried with both stable and beta, but either way the build does not succeed.

[2016-02-27 13:02] hobofan commented on #56
You can use the git master branch by changing the dependency in your `Cargo.toml` like this:
[code]

The biggest drawback with this is that you can't publish your crate to crates.io with this as a dependency, so as soon as we release `0.2.0` you should change it back to a "normal" dependency.

[2016-02-28 11:02] drahnr commented on #56
Ok, thanks a lot!

[2016-03-03 14:32] hobofan opened #61 "Support convolutions with 3(+) spatial dimensions"
The convolution layer currently only supports 2D convolutions.

Supporting 3D and higher dimensional convolutions might just require relaxing the `num_spatial_dims` bounds to work, but there also needs to be some testing for that.

[2016-03-03 23:56] johnnyman727 commented on #45
Thanks @hobofan. I'm a novice at this point so I'll start with your first point. Once I have a solid understanding of how the existing examples work, I'll try to build some that are more interesting. If that goes well, I'll look into documentation.

As a meta-note, I think it would be really useful if you had a Github label like "beginner-friendly" for your issues so I could easily check in on wha

[2016-03-04 20:51] drahnr commented on #56
0.2 fixed it. Thanks a lot!

[2016-03-04 20:51] #56 closed

[2016-03-05 20:42] DavidYKay commented on #45
@johnnyman727 thanks for starting this discussion! I'm in a very similar situation to you and curious to start helping out and digging in.

My background: I'm primarily a mobile app developer, focused on the medical industry. Outside of native apps, I have experience in Clojure and Rust. I'm also a contributor to the React Native documentation. My interest in Leaf is that I feel like I've been spe

[2016-03-07 12:21] hobofan commented on #26
We now have benchmarks at https://github.com/autumnai/deep-learning-benchmarks .

[2016-03-07 12:21] #26 closed

[2016-03-07 13:04] hobofan opened #69 "Support Bias in Convolution layer"
Add support for a second weight that will be used as bias to the Convolution layer.

[2016-03-07 13:05] hobofan opened #70 "Support Bias in Linear layer."
Add support for a second weight that will be used as bias to the `Linear` layer. (See also #69)

[2016-03-07 13:13] hobofan commented on #45
@DavidYKay Yes, that sounds great!

I think any of the [Layer issues](https://github.com/autumnai/leaf/issues?q=is%3Aissue+is%3Aopen+label%3AA-Layers) should be approachable by a newcommer to the project (most of them have a similar Layer to draw inspiration from). Feel free to hit me up on [our Gitter](https://gitter.im/autumnai/leaf) anytime. :)

[2016-03-08 13:59] MichaelHirn opened #73 "Implement RNN/LSTMs for Leaf"
This issue makes part of #20 more concrete.

Recurrent Neural Networks, became an effective Neural Network architecture, that we would like to implement in Leaf as well. The operations could probably be composed of BLAS operations with [collenchyma-blas](https://github.com/autumnai/collenchyma). Differentiation for backpropagation is another topic, that might better be solved with Auto Differentia

[2016-03-08 17:54] johnnyman727 commented on #73
@MichaelHirn if this isn't super timer critical, I can own this task. I will need some hand-holding to get started. Where would be the best place to start?

[2016-03-08 23:44] yangtheman opened #74 "Compiling leaf fails on OS X El Capitan (10.11.3)"
After cloning the repository, running the example (`cargo run --release --example benchmarks`) is failing at the point of compiling leaf. I had installed openssl via brew and had updated gcc as well....

[code]

[2016-03-09 09:19] hobofan commented on #74
Could you try running `cargo run --release --no-default-features --features "native" --example benchmarks`? This should get the examples to compile but should show you a message saying that CUDA support is required for the examples (which I try to clarify with #76).

Do you have CUDA installed (and is that even possible on your machine)?

[2016-03-09 09:49] MichaelHirn commented on #73
Awesome!

I think it should be verily straight forward. Two resources about RNN and performance, that look interesting and might be helpful for technical implementation.

- [Introduction to RNNs by Karpathy](http://karpathy.github.io/2015/05/21/rnn-effectiveness/)
- [Optimizing RNN performance](http://svail.github.io/rnn_perf/)

The rest is just adding a new common layer to Leaf, using the BLAS op

[2016-03-09 14:06] byronyi commented on #45
Hi @hobofan I am interested in implementing a distributed runtime for Leaf. Do we have any plan on multi-node implementations for the development team, currently?

[2016-03-09 14:40] hobofan commented on #45
@byronyi Nothing concrete yet, but we would like to handle it one abstraction-layer higher than Leaf, with only minimal changes required in Leaf itself. What did you have in mind for multi-node? Parameter server + workers?

Since any kind of distribution will require sending serialized parts of the networks over the network that would probably depend on the serialization being implemented, which I

[2016-03-09 14:48] byronyi commented on #45
Yes, parameter server should be a good candidate. I have just finished my work in a project in which we implemented parameter server on Hadoop using Java, and I am relatively familiar with the architecture.

I am not sure though, because the problem we solved was for regular machine learning algorithms instead of deep learning, e.g. ConvNet, which should requires more frequent global synchronizati

[2016-03-09 15:13] hobofan commented on #45
The serialization will probably end up being based on [capnproto](https://github.com/dwrensha/capnproto-rust) so capnproto-rpc might be a natural choice. I personally have only little (unpleasant) experience with MPI so I might be biased against it, but from what I gather it is mainly used in scientific fields, and I am not sure it fits in that well with Leaf.

One of the main problems with DNN pa

[2016-03-09 16:10] byronyi commented on #45
I don't really have much opinion on the serialization part; I had experience with protocol buffer (with home brewed RPC when gRPC was not released), and I think cap'nproto(-rpc) would just work fine.

I do agree that special care is needed when sending weight updates, and it would be better if we could make it flexible enough so people can experiment with different compression/filtering techniques

[2016-03-11 13:15] hobofan opened #80 "Fix gitcop link to contribution guidelines"
As pointed out in #79, the link to the contribution guidelines is broken since it links to the `develop` branch.

The correct link should be:
[code]

[2016-03-11 13:32] hobofan opened #81 "Investigate Rust "impl specialization""
Rust "impl specialization" should hopefully land with Rust 1.9 (PR here: https://github.com/rust-lang/rust/pull/30652).

That feature should hopefully allow us to better determine the capabilities of the different frameworks that are compiled in and use more performant operations if possible. Currently we handle this via ugly feature attributes which rely on our knowledge of the implemented operat

[2016-03-12 00:48] bluss commented on #81
FYI it will land as an unstable feature and stabilized at a later point. I can't predict how soon it can be a feature in a stable rust release.

[2016-03-14 16:25] yangtheman commented on #74
My apologies. I didn't realize that being able to run OpenCL or CUDA was a prerequisite. I will close this issue.

[2016-03-14 16:25] #74 closed

[2016-03-19 06:55] bklooste commented on #81
Will help remove a lot of macros ..

[2016-03-22 12:26] alexandermorozov opened #88 "Use GPU for SGD weight update calculations"
Currently weight updates are [calculated on `Native` backend](https://github.com/autumnai/leaf/blob/master/src/solvers/sgd/momentum.rs#L52). Profiling shows that about 40% of CPU time is spent doing corresponding BLAS operations. Another 40% are in an area without debug info, quite likely that's nvidia driver doing i/o. In the same time according to `nvidia-smi` GPU load is about 20% even on my re

[2016-03-22 13:37] alexandermorozov commented on #88
I've hacked in `Cuda` backend in a dirty way, but performance is a lot worse. `perf top` shows a lot of time spent in `sync()` in cuda lib. Possibly performance degrades because scalars `lr` and `momentum` are reallocated each time.

I've tried to add those scalars to `struct Momentum`, but I get panic:

[code]

I've tried to move initialization from `Momentum::new()` into `Momentum::compute_updat

[2016-03-25 10:04] MichaelHirn opened #91 "Create Leaf Book / high-level documentation"
I feel like, the entrance barrier for (Rust) Developers to engage with Leaf and Machine Learning, for contributions and hacking-away purposes, is still far too high. Partly because the concepts of Machine Learning (Deep Learning) are not yet widely known and partly because not many are familiar with the general design of a Machine Learning framework - compared e.g. to the general design of a Web f

[2016-03-25 10:10] MichaelHirn commented on #80
Gitcop is updated with the link to the master branch

[2016-03-25 10:10] #80 closed

[2016-03-25 11:28] ujh commented on #91
Sounds good! I can be one of your Guinea pigs for this. I'd be fine with requiring some prior knowledge on ML and deep learning provided that you link to good introductory material. I mean, there must be good material out there and I don't see the point of making the effort to duplicating this. At least not initially.

[2016-03-25 17:36] MichaelHirn commented on #91
Ohh, I like that. Thank you for helping out. Progress can be tracked at  the [MichaelHirn/book](https://github.com/MichaelHirn/leaf/tree/book/doc) branch for now. I plan to make a WIP PR as soon as the first basics are there.

I also agree with your idea on requiring a basic understanding of ML/Deep Learning for the Leaf Book. I actually don't know a lot of good material for this. One that comes t

[2016-03-25 17:42] mgattozzi commented on #91
I would also be interested in helping out/being a guinea pig. I've been doing Machine Learning at school so contributing to a project like this would be beneficial in expanding my knowledge of it. Especially a Rust based one.

[2016-03-25 18:02] ujh commented on #91
The following (free) online book has been recommended to me as an introduction to deep learning: http://neuralnetworksanddeeplearning.com/

I haven't read it yet so I can't say if it's good or not.

[2016-03-25 18:06] mgattozzi commented on #91
@ujh Thanks for the link! I'll dig into it over the weekend.

[2016-03-26 02:37] MichaelHirn commented on #73
As an update:

cuDNN v5, which will be released for early developers in a few weeks, will come with primitives for LSTM/RNNs.

[2016-03-26 02:43] MichaelHirn commented on #19
ReLU, Sigmoid and TanH are now supported for CPU/Rust and GPU/CUDA via [Collenchyma-NN](github.com/autumnai/collenchyma-nn). {GPU, CPU}/OpenCL should be tracked at the NN Plugin directly.

I believe this issue can be closed therefore. If necessary, I am happy to reopen it.

[2016-03-26 02:43] #19 closed

[2016-03-26 10:39] alexandermorozov commented on #91
There is also http://cs231n.github.io/. It's quite easy to follow and isn't very heavy on math, but reading it once from start to end feels enough to be able to implement a working NN.

[2016-03-28 01:06] KodrAus opened #92 "Unresolved Import ConvolutionConfig / Pooling"
I'm trying to fiddle with leaf-examples using the latest source; with the fix for history tensors.

The main error I'm getting right now is:

[code]

It looks like this is because the [module exports](https://github.com/autumnai/leaf/blob/master/src/layers/common/mod.rs#L13) for `leaf::layers::common::convolution` and `leaf::layers::common::pooling` are feature gated to only be compiled when using

[2016-03-28 09:33] hobofan commented on #92
There is some explanation for that here: https://github.com/autumnai/leaf/blob/3b25a48c2c2ceb49e4f9d462a8666d0adad38383/FEATURE-FLAGS.md

[2016-03-28 10:17] KodrAus commented on #92
Ah thanks, that makes sense. I'll have to revisit the `Tensor` docs, I thought you needed the native backend to sync memory from the GPU to read

[2016-03-28 12:39] hobofan commented on #92
Yeah, you do, that's why even when the `native` feature of Leaf is missing we still require the `native` feature of its Collenchyma dependency.

[2016-03-28 22:27] KodrAus commented on #92
_Ahh_ yeh, Collenchyma's the one that manages the memory, isn't it. Thanks, I follow now

[2016-03-28 22:27] #92 closed

[2016-03-31 21:19] b0c1 opened #94 "name confuse"
Hi guys, I'm a little confused. I'm a beginner in neural networks but some docs/library use neuron/preceptron/etc (like http://synaptic.juancazala.com/ ) some using layer/solver (leaf). What's the difference? Can I write a feedforward network in leaf? (like http://synaptic.juancazala.com/#/paint-an-image )

[2016-03-31 21:51] alexandermorozov commented on #94
It looks like perceptron in `synaptic` corresponds to one `Sequental` layer in `leaf` that itself consists from 3 layers: 1) `Linear`, 2) `Sigmoid` or `ReLU`, 3) another `Linear`.

Currently Leaf supports feedforward networks and AFAIK only them. Here is [an example](https://github.com/autumnai/leaf-examples/blob/master/src/main.rs#L138l).

[2016-04-01 07:08] MichaelHirn commented on #94
Supporting @alexandermorozov's answer:

Feedforward networks are built with a `Sequential` layer in Leaf. The `Sequential` layer can use any kind of layer, even other `Sequential` layers. The API in Leaf is very, very easy. I would say even easier than the synaptic one.

There is currently a PR for the Leaf Book #93 which has all the chapters by now, although there are still a lot of grammar, spel

[2016-04-03 16:45] MichaelHirn commented on #91
I think, the first version of the book would be ready for review.

I hosted the first (not yet published) version at http://autumnai.com/leaf/book/

Looking forward to hear what you think :)

[2016-04-03 23:05] KodrAus commented on #91
Thanks for the awesome work @MichaelHirn I've opened a PR for my copyediting as I go.

[2016-04-17 20:35] #39 closed

[2016-04-19 17:01] #14 closed

[2016-04-22 08:27] #91 closed

[2016-04-26 16:47] balvaldyr opened #100 "Windows Bug"
Need to rename:
\doc\book\http:\autumnai.github.io\leaf\leaf
or else you build a program depending on Leaf 0.2.1 on Windows:

The issue is the colon in the name

[2016-04-27 18:24] MichaelHirn opened #101 "Remove build documentation from the repo"
Leaf is currently providing the raw markdown files of the Leaf book, as well as the compiled assets, generated with mdbook. This introduces unnecessary complexity (see e.g. #98) and causes bugs on Windows machines (#100)

[2016-04-30 18:10] alexandermorozov opened #102 "Use of ArcLocks"
What do you think about removing ArcLocks from Leaf codebase? There is a lot of `.read().unwrap()`, `Arc::new(RwLock::new(..))` and then `let inputs_locked: Vec<_> = inputs.iter().map(|b| b.read().unwrap()).collect()` that make code harder to read. Users of Leaf also have to wrap inputs in ArcLocks.

I think when autumnai/collenchyma#37 is implemented, there would be less problems with borrowing,

[2016-05-01 10:13] svenstaro opened #104 "This project needs capnproto and should mention it"
When naively trying to build an example project, one gets this:

[code]

You should mention that you require capnproto to be installed in the system beforehand.

[2016-05-07 08:27] carlthome commented on #73
Adding most of the optimizations described in cuDNN 5 [here](https://devblogs.nvidia.com/parallelforall/optimizing-recurrent-neural-networks-cudnn-5/) would easily make leaf the fastest basic LSTM implementation out there.

[2016-05-12 03:24] jianingy opened #105 "cannot compile the example"
Hi, all
I try to compile and run leaf example with the following command,
`cargo run --release --no-default-features --features cuda --example benchmarks alexnet
`
but got errors like this
[code]

please give me some hints.

thanks

[2016-05-14 22:11] ehiggs opened #106 "Clippy is very angry"
If clippy runs into docstring errors then it will report those errors and bail. This might give the impression that the code is pretty sound since the only issues are docstring things. Well, that wouldn't be correct! If we fix these 36 docstring issues then a cascade of >450 errors on the actual code is the result.

For the lints that refer to a wiki page we can use the following grep:

[code]

Th

[2016-05-16 11:26] lvitol opened #107 "question about negative log likelihood loss layer"
hi, I am trying to create a squared loss layer, after read implementation of negative log likelihood loss layer, i got one question
1.It seems the compute_output function did not consider the situation when batch_size > 1, what am i missing?

[2016-05-25 05:45] #107 closed

[2016-05-30 07:34] jakeleeme commented on #105
Did you install Cuda and cudnn?

https://developer.nvidia.com/accelerated-computing-toolkit

[2016-05-30 10:05] jianingy commented on #105
yep, i am sure i've installed them since I can compile and run other applications.

[2016-05-30 10:42] lvitol commented on #105
may be the cudnn version not match, try cudnn v3

[2016-05-30 22:18] jakeleeme commented on #105
This [Stack Overflow answer](http://stackoverflow.com/questions/31864585/cant-get-theano-to-link-against-cudnn-on-osx) fix that problem for me.

[code]

[2016-05-30 22:26] jakeleeme commented on #105
Though now, I'm running into undefined symbol errors.

[code]

OS: Mac OS X 10.11.5

Cargo configuration: native + cuda

[code]

btw, I had to disable opencl support because the crate uses the `-lOpenCL` instead of '-framework OpenCL` flag needed on Mac OS.

[2016-06-09 11:57] ehiggs commented on #104
My understanding is that there should be a `capnp-sys` crate which builds capnproto and provides a thing wrapper around it. The `capnp` crate should then add a 'rustic' API. This is the intended cargo use case since it means crates can be built with minimal requirements from the environment. iow, OS installed libraries are for the OS and system administration tools. Build system libraries are for

[2016-06-09 12:20] svenstaro commented on #104
That would work.

[2016-06-10 07:02] ujh commented on #15
I assume this is the last step necessary to save and load a network? Or is it already possible to load the separate layers and construct a new network out of the deserialised layers?

[2016-06-15 19:59] dikaiosune opened #108 "Current status of leaf?"
From [this post](https://medium.com/@mjhirn/tensorflow-wins-89b78b29aafb#.h9zapqe9d):

Is this accurate? If so, should the README mention so?

Autumn is also still listed on http://rust-lang.org/friends.html, is Autumn still a thing? If so, will the company continue to use Rust?

[2016-06-21 08:41] MichaelHirn commented on #108
Hi @dikaiosune,

We are procrastinating really hard on updating the README, although we should because Autumn is in the process of shutting down.

Also, no one stepped up to take over Leaf which means Leaf is rather dead at the moment, too.

[2016-07-15 07:26] drahnr opened #109 "opencl and missing layer ops for cnn"
[code]

Is this due to a limitation that only cuda supports something or is this a different issue?

[2016-07-15 07:32] drahnr commented on #109
I guess it is due to `#[cfg(all(feature="cuda", not(feature="native")))]` in `utils.rs`.

So is this a native limitation or just not yet implemented.

There are a lot of those not mentioning opencl, is this all TBD or is this just a old crudge to be fixed?

Do you have feature map what is implemented for which feature backend? Or: Where is that implemented?

[2016-07-15 12:53] drahnr commented on #109
nvm I missed the https://github.com/autumnai/collenchyma-nn support table...

[2016-07-15 12:53] #109 closed

[2016-08-29 02:31] john-benson commented on #100
Any workarounds for this?

[2016-08-30 02:48] vyslexic commented on #108
@MichaelHirn  I can make an effort to take over leaf, and it's associated libraries. But I will be needing a lot of help and assistance in assimilating the code. I believe there is a lot of value in collenchyma framework - especially in building robust code for large scale data visualization and analysis pipelines.

[2016-08-31 08:31] ehiggs commented on #106
This is because clippy has two passes. Early and late. If you have 'deny' set on something in an early phase (e.g. docstring stuff) then it will flag errors and bail as described. This isn't an issue with clippy or anything since users should be aware that they set clippy up to report errors when it finds them.

(noting this so when I read my old issues in 3 months I don't bother the clippy team a

[2016-10-10 07:15] djKooks commented on #108
I also agree with @vyslexic too. Still lot of people are interested on leaf, and it seems bad idea to close it. Instead of shutting down, how about take over to someone else who wants too?

[2016-10-11 04:13] KodrAus commented on #108
@vyslexic I'm a hobbyist with an expensive graphics card, so don't have a lot of GPU experience but would be happy to step up and help if someone with more experience took it on too.

I was working through the book when Autumn wound down.

[2016-10-12 06:05] vyslexic commented on #108
@MichaelHirn , @hobofan - I am happy to carry forward your work with autumnai. How would you guys like to proceed ? You can either add me to the autumnai org or I can start maintaining a mirror.

@KodrAus, @djKooks - we can use all the help we can to develop the community and the software.

[2016-10-12 06:51] djKooks commented on #108
@vyslexic good to hear that! Please share the progress of carrying it on.

[2016-10-12 08:11] hobofan commented on #108
Hey everyone, @MichaelHirn and me wanted to write down a well formulated statement, but I never seem  to find the time for it, so I'll just write out right now what we decided on:

We both don't feel comfortable handing over the maintainership over Leaf's and the other Autumn repositories to a maintainer we don't know well, and also don't have the time to vet one. Another motivation for that is, t

[2016-10-12 08:22] MichaelHirn commented on #108
Thanks, @hobofan.

I agree, but am open to being convinced otherwise. If taking over Autumn instead of forking it, is more relevant to your plans, @vyslexic, I'm happy to do a 15 min call in the next few days. (Max, happy to have you on the call if you want to.)

[2016-10-13 03:44] djKooks commented on #108
Thanks to @MichaelHirn, @hobofan . @vyslexic please share us the result about it. Lots of people are interested on it.

[2016-10-17 18:01] vyslexic commented on #108
@djKooks - my apologies for intermittent responses. It has been a busy last few days.
@hobofan, @MichaelHirn  - thanks for clarifying the recommended approach moving forward. I understand your concerns, and fully respect them. My intention wasn't to "take over" as maintainer, but to merely be added as a contributor to the group, so I can take an active role in handling issues, and arbitrating pull

[2016-10-18 12:39] MichaelHirn commented on #108
Thank you, @vyslexic. I am looking forward to the blog post, to learn more about it - sounds very cool.

I think (@hobofan, let me know if you disagree), that it would be best, given your objections, that to me, seem more complementary to Rust/Leaf/Collenchyma's general environment than to Leaf/Collenchyma-the library and the initial goals that we had, to start a fork and see from there.

[2016-10-21 01:38] neverfox commented on #108
Also interested and would like to join in on any discussions.

[2016-10-25 02:54] sunfaces commented on #108
Also interested and would like to join in on any discussions.

[2016-10-25 03:06] djKooks commented on #108
@vyslexic do you have some next plan or schedule? It would be helpful to people who wants to support the project.

[2016-10-25 15:51] dlight commented on #108
Just a thought: perhaps a software foundation like the Apache foundation could accept this project under their umbrella?

[2016-10-28 08:03] ehiggs commented on #108
Apache is not a dumping ground for OSS. Apache also doesn't magically provide resources to a project.

[2016-11-14 08:06] jinserk opened #111 "build error with rustc 1.12"
I have got build error with rustc 1.12 on debian stretch.

`
$ RUST_BACKTRACE=1 cargo build
   Compiling leaf v0.2.1 (file:///home/<user>/work/leaf)
   Compiling num-rational v0.1.35
Build failed, waiting for other jobs to finish...
error: failed to run custom build command for `leaf v0.2.1 (file:///home/<user>/work/leaf)`
Process didn't exit successfully: `/home/<user>/work/leaf/target/debug/buil

[2016-11-14 08:22] jinserk commented on #111
Oh, I missed to install `capnproto` package. After install it by `apt`, the compile works, with 3 warnings.

[2016-12-13 21:30] sanmai-NL commented on #111
This can be closed then.

[2016-12-23 13:57] castarco commented on #108
Hi, I'm very interested on this project. I'd love to contribute to it. I'm not an expert, but I love Rust and ML, and I'm working on a PHP extension programmed in Rust which could use Leaf as a dependency.

[2017-01-03 06:31] djKooks commented on #108
Hello~
Is there some progress on plan in this project?

[2017-01-04 00:47] cathalgarvey commented on #108
Suggestion: Perhaps @alexandermorozov's fork could become a new venue for development? At a glance, his contributions appear to be the most active outside the core AutumnAI folks.

@hobofan @MichaelHirn - If Alexander is willing to be considered a "hard fork" maintainer, even temporarily, would you be willing to link to his repo from the README here?

I'd really love to see leaf live. It's an Open

[2017-01-08 21:21] alexandermorozov commented on #108
@cathalgarvey Initially I didn't offer to take on maintainership because I wanted to explore graph-based approach mostly for anticipated performace reasons.

Currently I don't have enough time, energy and interest to move Leaf forward or to maintain the project. If situation changes I'll do the work in my own fork and @hobofan and @MichaelHirn could later decide if they like the direction and resu

[2017-01-08 21:32] cathalgarvey commented on #108
Well, I wasn't suggesting a full maintainer role, but rather a "willing to look at and merge PRs", followed by "delegates other maintainers to the repo".

Right now, the main repo is dead, and the Deva don't want to play an active role in it. Not trying to be unkind, I think their work has been amazing! But, there it is.

Under the idea that " anything is better than nothing", and picking your nam

[2017-01-11 03:00] djKooks commented on #108
@MichaelHirn @hobofan Hello~

It looks like still lot of people are interest in this project, and some of are keep updating PR though it cannot be pulled. Could you let people know just how this project will be(like just closing or handing over maintainership to somebody) or it is still thinking about it? It will help people here to go on to next step.

It is sad to let this great project unsettle

[2017-01-11 07:46] hobofan commented on #108
@djKooks We already did that. As of now there are no plans from us to maintain this repository.

Our recommended method of moving forward for the community is still to do a hard fork, but as I the comments here read, nobody seems to be interested enough in working on the project and actively driving it forward in a maintainership role.

[2017-01-11 08:33] djKooks commented on #108
@hobofan Thanks for quick answer. One more, do you have some criteria of a maintainer?

It will a hard job to be a maintainer of quite a massive project. Most of engineer would have their job, and don't have time to participate in full-time. How about making a community for managing this project? It would be more better if each people share there time together.
Is there someone following this issu

[2017-01-11 13:27] alexandermorozov commented on #108
@cathalgarvey One problem is that there are no code PRs since shutdown, only small documentation fixes. People will not likely contribute much effort to a dead project, so what is dead tends to stay dead. Also Leaf with other crates is quite complex in itself, so there is a rather high barrier to entry. To move forward someone should put effort in and continue development, after that others may wa

[2017-01-12 08:39] djKooks commented on #108
@alexandermorozov thanks for good message. I'm also looking on leaf but because it's not quite long since I started studying Rust/ML, it is hard going in.
Hope someone make this work again.

[2017-01-12 08:46] castarco commented on #108
I'm answering from a crappy smartphone, so I'll try to be brief.

I'm not very skilled on Rust, but I'm learning and wanting to contribute.
In the meantime I can contribute documentation and support on chats&forums,
maybe we should list the contributor candidates to have a better view of
the areas that still need someone to be covered... and then start an
organized effort to revive the project.

K

[2017-01-15 22:18] alexandermorozov commented on #108
I've had a little time to merge most of PRs into my "fork" manually except #68 (seems to be already fixed), #75 (author has deleted his branch), autumnai/collenchyma-nn#46 (it's a great work but after my refactoring it's unmergeble, I'll adapt it later). I've also changed cargo files to point to my forks on github. As of now leaf-examples fails to compile, everything else should.

Short-term plans

[2017-01-15 22:41] cathalgarvey commented on #108
Wow, bravo and thank you sir! Looking forward to seeing where it goes.

Nomenclature suggestion: Leaf was all about plants, particularly aerial plant organs.. perhaps the more grassroots revival from a dead repo closer to fungi and other detritivores? Particularly thinking of slime molds like Physarum polycephalum which demonstrate pseudointelligent behaviour.

On 15 January 2017 22:18:14 GMT+00:0

[2017-01-16 00:47] djKooks commented on #108
@alexandermorozov Seems good~Is it okay to fork on your project?

[2017-01-16 12:20] alexandermorozov commented on #108
@cathalgarvey I like this suggestion ) Though it'll be a long time until hard fork makes sense. I think it'll take me about 3 months to work through the list of short-term issues at the current pace. That's if everything in life stays more or less the same.

@djKooks Yes, feel free to fork it!

[2017-01-18 10:54] botev commented on #108
@cathalgarvey @alexandermorozov @djKooks @castarco @hobofan I recently posted this suggestion for a full Graph based framework/compiler with autodiff in rust on reddit https://www.reddit.com/message/inbox/. The main goal of that would be to reuse the backend/lower level compute of what Leaf already has for a start, but use a graph based framework to make it very flexible and comparable to other fr

[2017-01-18 11:50] hobofan commented on #108
Correct link to the reddit discussion: https://www.reddit.com/r/rust/comments/5of7t8/is_anyone_interested_in_trying_to_build_a_graph/

[2017-01-18 22:21] botev commented on #108
I've made a gitter room where potentially if we get to be in at the same time can have a slightly more legthy discussion: https://gitter.im/rust-ml/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link

Sorry for the bad link last time -.-

[2017-01-25 05:43] salarali commented on #111
How do I install capnproto on Windows?

[2017-01-27 00:15] botev commented on #108
@alexandermorozov I've saw you are interested in graph interface and I just want to make an update on it. I currently implemented it for a very limited number of ops. One difference with all other current ML frameworks is that it validate shapes(including dynamic) at graph construction, thus this gives you "graph construction" time guarantee that if there is no error, the resulting operations are

[2017-02-08 11:17] kazimuth commented on #108
@MichaelHirn @hobofan

After nearly a year, the README has still not been updated stating that this project has been completely abandoned (barring a hard fork sometime in the future). It's confusing and misleading, since the project has thousands of stars and a lot of apparent polish.

A single commit adding "this project is dead, don't expect updates or support" to the top of the README would do

[2017-02-08 11:51] Enet4 commented on #108
@kazimuth On that end, I agree that the project should not leave a false sense of security. Adding the "no maintenance intended" badge ([![No Maintenance Intended](http://unmaintained.tech/badge.svg)](http://unmaintained.tech/)) should be sufficiently alarming, but we also don't want people to be steered away from a potential fork, so we should also leave a link to this issue or the project where

[2017-03-07 21:36] jonysy commented on #108
Hello all!

I and a few others are considering _hard_-forking Leaf since we've already become familiar with it.

From an [HN discussion](https://news.ycombinator.com/item?id=10541568) regarding the flexibility of Leaf's current design:

@MichaelHirn @hobofan Would you two mind elaborating on this? The question came up a lot during Leaf's lifetime, but I couldn't find a clear, detailed answer..

[2017-03-15 05:08] Boscop commented on #108
Is there a new maintained hard fork now? It's sad to see all this hard work go to waste..

[2017-03-16 21:47] Binero commented on #108
@Boscop At least one guy seems to be maintaining it, haven't tried it though: https://github.com/ratpoison-io/leaf

[2017-03-18 16:57] jonysy commented on #108
@Boscop @Binero here's a quick overview:

* I have my own project, [Parenchyma](/lychee-eng/parenchyma) (started off as a [Collenchyma](../../collenchyma) (an HPC framework) fork). I'm currently not using it for anything related to ML, [but there's no reason it couldn't be used for that](https://docs.rs/parenchyma/0.0.3-1/parenchyma/#example)!
* @botev Is currently [experimenting with a graph-base

[2017-03-18 18:07] jonysy commented on #108
I’d be willing to adapt Leaf for Parenchyma. I can accept PRs, review code, etc, but in terms of implementing new algorithms or any other research, I’m a bit too preoccupied w/ other things to devote enough time for that..

Anyone interested?

[2017-03-18 18:26] jonysy commented on #108
I'd be willing to adapt Leaf for Parenchyma if there's interest.

How can we go about having a community-maintained fork of Leaf? Any suggestions would be appreciated.

[2017-03-18 19:48] drahnr commented on #108
@jonysy I recently did a soft fork for now to ratpoision-io and I would definitely be interested regarding the changes and goals of parenchyma vs today's collenchyma :) drop a mail or find me on gitter

[2017-03-18 19:59] jonysy commented on #108
@drahnr 👍 great! I sent you a message via Gitter.

[2017-03-20 09:35] tobegit3hub opened #120 "Provide docker image and Dockerfile"
It would be great to provide the docker image and Dockerfile for newbie developers.

We can also use that container to run `leaf` in the cloud much more easily.

[2017-03-21 03:15] KodrAus commented on #120
Probably worth pointing out nvidia have some [Docker images](https://hub.docker.com/r/nvidia/cuda/) that might be a good starting point for a `leaf` development container.

[2017-03-21 15:56] jonysy commented on #108
I’m looking for another Collenchyma maintainer who has CUDA running on his/her machine.. Anyone?

[2017-04-10 17:37] drahnr commented on #108
just a little quick note: I am working on cuda 5.1 support which is almost done and adaptations on the cudnn backend for collenchyma-nn (partially based on @DiamondLovesYou 's refactorings adopted to the new rw tensor API introduced by @alexandermorozov ).

Afterwards I am planning to rust-ify the leaf interface and polish the examples.

[2017-04-23 23:19] z1mvader commented on #108
This kinda remembers me the crossbeam situation. The mantainer of crossbeam did not have enough time to mantain the project so an organization on github was created (https://github.com/crossbeam-rs). That would be pretty neat, what do you think?

[2017-05-20 08:15] aspk opened #121 "cannot run example files in leaf"
Hi All,
I am new here. I have cuda and cuda nn installed with paths setup. I cannot run the example files for some reason.
Am I missing something?
System is Ubuntu 16.04
`akhileshsk@akhileshsk-home:~$ cd rust_leaf_tutorials/leaf
akhileshsk@akhileshsk-home:~/rust_leaf_tutorials/leaf$ cargo run --release --no-default-features --features cuda --example benchmarks alexnet
   Compiling linear-map v0.0.

[2017-05-26 12:36] henke1010 commented on #100
I get this issue as well.

[2017-06-04 09:04] DeadZen opened #122 "THIS IS A DEAD PROJECT"
Save the time I wasted; Yes, the potential for AI in Rust is far beyond the potential for it in Python.
I understand that much, Unfortunately, the authors stopped and gave up on the infrastructure;
and without so much as mentioning it on the repository.

Alas I had to find out here.. after weeks of wondering wtf, why doesn't this work in any environment.
https://www.bountysource.com/teams/autumnai

[2017-06-04 16:05] hobofan commented on #122
There is already a longstanding issue for this (the most discussed one of the repo): https://github.com/autumnai/leaf/issues/108

[2017-06-04 16:05] #122 closed

[2017-06-04 16:06] hobofan commented on #122
: undefined reference to cudnnSetConvolutionNdDescriptor_v3' : undefined reference tocudnnConvolutionBackwardFilter_v3'
: undefined reference to `cudnnConvolutionBackwardData_v3'

You most likely have a newer version of cuDNN installed than is targeted by Leaf

[2017-06-05 06:09] dvigneshwer commented on #121
![image](https://cloud.githubusercontent.com/assets/5075497/26772491/6bc12f60-49e3-11e7-9107-1f523e0125a0.png)

Got something similar when I tried to run,

[code]

[2017-06-06 08:54] ehiggs commented on #121
@dvigneshwer: This is not similar. capnproto is a dependency (as explained in the error message). #104 tracks the issue of making this an automatic part of the build.

[2017-06-07 12:14] dvigneshwer commented on #121
@ehiggs this does the job.
[code]

Is it possible to run the code with GPU,

![image](https://user-images.githubusercontent.com/5075497/26877817-c9821f1c-4ba8-11e7-8607-223ecacc8f49.png)

Currently stuck with Cuda toolkit and deep learning library.

[2017-06-29 00:34] robsmith11 commented on #73
Was any progress made on this?  I might try to add LSTM support in the future.

[2017-08-30 13:04] MyraBaba opened #124 "is leaf still active?"

[2017-08-31 11:34] levzhazeschi commented on #124
Yeah, can anybody explain why the development is stalled?

[2017-09-01 07:50] Tim-Chard commented on #124
It does not look like it.
https://medium.com/@mjhirn/tensorflow-wins-89b78b29aafb

[2017-09-01 07:56] levzhazeschi commented on #124
Ok, it appears Leaf is still maintained under a different name: https://github.com/spearow/juice

[2017-09-01 09:27] MyraBaba commented on #124
Thanks..  We saw the leaf a real new breathe for Deep Learning despite the a language Rust which is not easy but life time real friend.

BC

[2017-09-10 22:54] StelarCF commented on #100
Same issue here, wondering if there is any workaround?

[2017-09-22 13:16] patrickmesana commented on #124
is nobody using this? This is a bit weird, seems like more and more people would be interested in a Rust CUDA framework

[2018-07-31 13:11] chpio commented on #124
What's the reason for the fork? I guess autumnai just stopped the development?

[2019-02-20 12:42] wsdt commented on #100
Also having this issue

[2019-03-21 12:47] andrei-papou commented on #70
@hobofan I'd like to work on this one. Could you please provide any guidance? Thanks.

[2019-03-21 13:07] hobofan commented on #70
@andrei-papou Leaf isn't being maintained anymore. See https://github.com/spearow/juice for a fork that's more alive.

[2019-04-23 08:42] ehiggs commented on #106
As leaf is no longer maintained, this will never be fixed.

[2019-04-23 08:42] #106 closed

[2019-09-08 01:17] drewm1980 commented on #124
"Now that good-enough tools, to build maintainable machine-learning applications, like Tensorflow and Keras, exist, venture capital flows more and more into companies who try to create immense value in verticals with new AI-driven applications, instead of infrastructure providers."

I'm here looking into leaf because I don't feel tensorflow is good enough. I'm fed up with the nondeterminism, API c